$card-backgroud: #f4f6fd;
$primary-font-color: #624cab;
$gray: #ececec;
$table-stripe: rgba(98, 76, 171, 0.08);
$table-background: rgba(98, 76, 171, 0.6);

*,
*:before,
*:after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f7fa;
}

//! index.html
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-font-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-font-color;
}
#d_row {
  margin-top: 65px;
  .row:nth-child(even) {
    background-color: #ffffff;
  }
  .row {
    background-color: $card-backgroud;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
    // margin: 1rem 0;
    display: flex;
    flex-wrap: nowrap;
    min-height: 400px;
    padding: 1rem 0;
    .column {
      background: #ffffff;
      border-radius: 10px;
      padding: 0.5rem;
      margin: 0.5rem;
      -webkit-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
    }

    #firstc {
      width: 30%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      /* justify-content: space-evenly; */
      align-items: center;
      // justify-content: space-around;
      #n1 {
        color: $primary-font-color;
        font-weight: bolder;
        height: 15%;
      }
      #n2 {
        width: 100%;
        #i1 {
          width: 100%;
          height: 250px;
          border-radius: 10px;
        }
      }
    }
    #secondc {
      width: 45%;
      .method:last-child {
        border-bottom: none;
      }
      .method {
        display: flex;
        border-bottom: 1px solid $gray;
        padding: 0.5rem;
        .option_name {
          color: $primary-font-color;
          width: 25%;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 14px;
          align-self: center;
        }
        .option_desc {
          width: 75%;
          font-size: 14px;
          align-self: center;
        }
        .buy,
        .sell {
          text-align: center;
          width: 50px;
          color: #fff;
          border-radius: 5px;
          padding: 2px;
        }
        .buy {
          background-color: #1cdea1;
        }
        .sell {
          background-color: #fe7076;
        }
      }
    }
    #thirdc {
      ::-webkit-scrollbar {
        width: 4px;
      }
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        margin-bottom: 1rem;
        color: $primary-font-color;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none;
        letter-spacing: 1px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        thead,
        tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
        }
        tbody {
          display: block;
          max-height: 220px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        thead,
        tbody {
          tr {
            th,
            td {
              text-align: center;
              width: 25%;
              font-size: 11px;
            }
            th:first-child,
            td:first-child {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            th:last-child,
            td:last-child {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
            td,
            th {
              padding: 0.5rem 0.1rem;
            }
          }
          .heading {
            background-color: $table-background;
            color: #fff;
          }
          .striped:nth-child(odd) {
            background-color: $table-stripe;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #d_row {
    .row {
      #secondc {
        .option_name {
          width: 25%;
        }
        .option_desc {
          width: 75%;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #d_row {
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      .column {
        margin: 0;
        margin-bottom: 1rem;
      }
      #firstc {
        padding: 0.5rem;
        width: 100%;
        #n1 {
          margin-bottom: 1rem;
        }
      }
      #secondc {
        width: 100%;
        .method {
          flex-direction: column;
          .option_name {
            color: $primary-font-color;
            width: 100%;
            margin-bottom: 5px;
          }
          .option_desc {
            width: 100%;
          }
          .buy,
          .sell {
            text-align: center;
            width: 50px;
            align-self: unset;
          }
        }
      }
      #thirdc {
        width: 100%;
      }
    }
  }
}

//! page2.html

.page2_wrapper {
  ::-webkit-scrollbar {
    width: 4px;
  }
  background-color: #f4f7fa;
  margin-top: 65px;
  padding: 2rem;
  display: flex;
  // justify-content: center;
  .margin-wrapper {
    margin: 0.5rem;
  }
  .left_wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    .left-lower,
    .left-upper {
      min-height: 360px;
      margin-bottom: 1rem;
      border-radius: 10px;
    }
    .left-upper {
      #youtube {
        width: 100%;
        height: 350px;
        border-radius: 10px;
      }
    }
    .left-lower {
      background-color: #fff;
      // padding: 0.5rem;
      padding: 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      .method {
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        // border-bottom: 1px solid $gray;
        padding: 1rem;
        &:nth-of-type(even) {
          background-color: rgba(98, 76, 171, 0.08);
        }
        &:nth-of-type(2),
        &:nth-of-type(4) {
          border-radius: 0;
        }
        &:nth-of-type(6) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .option_name {
          color: $primary-font-color;
          width: 25%;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 14px;
          align-self: flex-start;
        }
        .option_desc {
          width: 75%;
          font-size: 14px;
          align-self: flex-start;
        }
      }
    }
  }
  .right_wrapper {
    width: 60%;
    .right-lower,
    .right-upper {
      min-height: 360px;
      padding: 1rem;
      margin-bottom: 1rem;
    }
    .right-upper {
      background-color: #fff;
      // padding: 0.5rem;
      padding: 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

      .method {
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        // border-bottom: 1px solid $gray;
        .custom-select {
          cursor: pointer;
          width: 150px;
          border: none;
          outline: none;
          background-color: $table-stripe;
          padding: 0.4rem;
          font-weight: bold;
          border-radius: 10px;
        }
        padding: 1rem;
        &:nth-of-type(even) {
          background-color: rgba(98, 76, 171, 0.08);
        }
        &:nth-of-type(2),
        &:nth-of-type(4) {
          border-radius: 0;
        }
        &:nth-of-type(6) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .option_name {
          color: $primary-font-color;
          width: 35%;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 14px;
          align-self: center;
        }
        .option_desc {
          width: 65%;
          font-size: 14px;
          align-self: center;
        }
      }
    }
    .right-lower {
      border-radius: 10px;
      background-color: #fff;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .transaction {
        text-transform: capitalize;
        color: $primary-font-color;
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 14px;
        padding: 1rem;
      }
      .horizontal_table {
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
        table {
          width: 100%;
          border-collapse: collapse;
          tbody {
            display: block;
            max-height: 280px;
            overflow-y: auto;
            overflow-x: hidden;
          }
          thead,
          tbody {
            tr {
              display: table;
              width: 100%;
              td:nth-child(3) {
                background-color: #c4f0cd;
                color: #075605;
                font-weight: bold;
              }
              td:nth-child(4) {
                background-color: #ffc5d0;
                color: #8c131c;
                font-weight: bold;
              }
              // table-layout: fixed;
            }
          }

          tbody,
          thead {
            tr {
              &:nth-of-type(even) {
                background-color: $table-stripe;
              }
              th {
                background-color: $table-background;
                color: #fff;
              }
              th,
              td {
                text-align: center;
                width: 11.11%;
                font-size: 12px;
                padding: 0.5rem 0.1rem;
              }
              th {
                a {
                  text-decoration: none;
                  color: #fff;
                }
              }
              td {
                a {
                  color: $primary-font-color;
                  font-weight: bold;
                  text-transform: capitalize;
                  text-decoration: none;
                  letter-spacing: 1px;
                }
              }
              th:first-child,
              td:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              th:last-child,
              td:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .page2_wrapper {
    margin-top: 80px;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .margin-wrapper {
      width: 100%;
      margin: 0;
    }
    .left_wrapper {
      .left-upper {
        min-height: 250px;
        #youtube {
          height: 250px;
        }
      }
      .left-lower {
        .method {
          flex-direction: column;
          .option_name,
          .option_desc {
            width: 100%;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .right_wrapper {
      .right-upper {
        .method {
          .custom-select {
            width: 100px;
          }
          flex-direction: column;
          .option_name,
          .option_desc {
            width: 100%;
            margin-bottom: 0.5rem;
          }
        }
      }
      .right-lower {
        padding: 0.5rem;
        .horizontal_table {
          table {
            border-collapse: collapse;
            border-spacing: 0;
            // width: 100%;

            tbody,
            thead {
              tr {
                th,
                td {
                  text-align: center;
                  padding: 0.5rem;
                  min-width: 80px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

//! page3.html

.page3_wrapper {
  ::-webkit-scrollbar {
    width: 4px;
  }
  background-color: #f4f7fa;
  margin-top: 65px;
  padding: 2rem;
  display: flex;
  .table_wrapper {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    cursor: pointer;
    table {
      width: 100%;
      border-collapse: collapse;
      tbody {
        display: block;
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
      }
      thead,
      tbody {
        tr {
          display: table;
          width: 100%;
          // table-layout: fixed;
        }
      }

      tbody,
      thead {
        tr {
          &:nth-of-type(even) {
            background-color: $table-stripe;
          }
          th {
            background-color: $table-background;
            color: #fff;
          }
          th,
          td {
            text-align: center;
            width: 12.5%;
            font-size: 15px;
            padding: 0.5rem 0.1rem;
          }
          th {
            a {
              text-decoration: none;
              color: #fff;
            }
          }
          td {
            a {
              color: $primary-font-color;
              font-weight: bold;
              text-transform: capitalize;
              text-decoration: none;
              letter-spacing: 1px;
            }
          }
          th:first-child,
          td:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          th:last-child,
          td:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .page3_wrapper {
    margin-top: 80px;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .table_wrapper {
      table {
        border-collapse: collapse;
        border-spacing: 0;
        // width: 100%;

        tbody,
        thead {
          tr {
            th,
            td {
              text-align: center;
              font-size: 12px;
              padding: 0.5rem;
              min-width: 95px !important;
            }
          }
        }
      }
    }
  }
}

//! page4.html

.page4_wrapper {
  ::-webkit-scrollbar {
    width: 4px;
  }
  background-color: #f4f7fa;
  margin-top: 65px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .sub_wrapper {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    background: #f7f8ff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 60%;
    .content_wrapper {
      padding: 1rem;
      .desc_wrapper {
        // overflow-x: hidden;
        .method {
          border-radius: 10px;
          display: flex;
          padding: 1rem;
          .option_name {
            color: $primary-font-color;
            width: 20%;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 16px;
            align-self: center;
          }
          .option_desc {
            width: 80%;
            font-size: 16px;
            align-self: center;
          }
        }
      }
      .img_wrapper {
        display: flex;
        .popup_img {
          padding: 1rem;
          .myImg {
            // border: none;
            // background: rgb(98, 76, 171);
            // background: linear-gradient(
            //   20deg,
            //   rgba(98, 76, 171, 1) 25%,
            //   rgba(156, 144, 204, 1) 64%,
            //   rgba(163, 166, 201, 1) 100%
            // );
            z-index: 0;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
          }
          .modal {
            display: none;
            flex-direction: column;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
          }

          .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
          }

          .caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
          }
          .modal-content,
          .caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
          }

          @-webkit-keyframes zoom {
            from {
              -webkit-transform: scale(0);
            }
            to {
              -webkit-transform: scale(1);
            }
          }

          @keyframes zoom {
            from {
              transform: scale(0);
            }
            to {
              transform: scale(1);
            }
          }
          .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
          }

          .close:hover,
          .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
    .share_wrapper {
      background-color: $primary-font-color;
      border-radius: 0 0 10px 10px;
      color: #fff;
      font-weight: bold;
      text-transform: capitalize;
      text-decoration: none;
      letter-spacing: 1px;
      div {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .page4_wrapper {
    margin-top: 80px;
    padding: 0.5rem;
    .sub_wrapper {
      width: 100%;
      .content_wrapper {
        padding: 0.5rem;
        .desc_wrapper {
          .method {
            padding: 0.5rem;
            .option_name {
              width: 35%;
              font-size: 12px;
            }
            .option_desc {
              width: 65%;
              font-size: 12px;
            }
          }
        }
        .img_wrapper {
          .popup_img {
            padding: 0.5rem;
            .modal {
              .modal-content {
                width: 95%;
              }
            }
          }
        }
      }
      .share_wrapper {
        font-size: 12px;
      }
    }
  }
}

//! home.html
.home_wrapper {
  margin-top: 65px;
  .first_wrapper {
    min-height: 650px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .centered {
      width: 70%;
      color: #fff;
      font-size: 40px;
      font-weight: bolder;
      line-height: 72px;
    }
  }
  .second_wrapper {
    background-color: #e8e9f4;
    min-height: 650px;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .second_left {
      display: flex;
      justify-content: center;
      padding: 1rem;
      width: 50%;
      img {
        height: 350px;
      }
    }
    .second_right {
      padding: 1rem;
      width: 50%;
      .box_wrapper {
        display: flex;
        margin: 10px 0;
        .box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 2rem;
          width: 50%;
          height: 200px;
          margin: 10px;
          // width: 100%;
          background-color: #edeff9;
          -webkit-box-shadow: 0px 0px 50px rgba(98, 76, 171, 0.08);
          -moz-box-shadow: 0px 0px 50px rgba(98, 76, 171, 0.08);
          box-shadow: 0px 0px 50px rgba(98, 76, 171, 0.08);
          border-radius: 10px;
          color: #624cab;
          .box_content {
            font-size: 18px;
            font-weight: bolder;
          }
          .box_link {
            a {
              display: flex;
              align-items: center;
              text-decoration: none;
              outline: none;
              span {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  .third_wrapper {
    background: $table-background;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .centered {
      color: #fff;
      font-size: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .newsletter_form {
        margin-top: 4rem;
        [class^="page"] {
          margin: 0 auto 10px;
          padding: 10px;
        }
        .page2 {
          width: 500px;
          font-size: 20px;
        }

        form {
          display: flex;
        }

        .container {
          flex-grow: 1;
          margin-right: 1px;
        }

        input,
        button {
          font-size: 1em;
          color: #000;
        }

        input {
          border: 1px solid #ddd;
          background-color: #ddd;
          box-sizing: border-box;
          border-radius: 10px 0 0 10px;
          width: 100%;
          padding: 0.5em;
        }

        button {
          padding: 0.5em 1em;
          flex-grow: 1;
          background: $primary-font-color;
          border-radius: 0 10px 10px 0;
          color: white;
          border: none;
        }
      }
      // line-height: 72px;
    }
  }
  .fourth_wrapper {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .footer_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      .img_block {
        height: 100px;
        width: 100px;
        background-color: #e5e5e5;
        margin-bottom: 1rem;
        img {
          width: 100px;
          height: 100px;
        }
      }
      .channel_name {
        color: $primary-font-color;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
      .mail_id {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .home_wrapper {
    margin-top: 65px;
    .first_wrapper {
      .centered {
        font-size: 25px;
      }
    }
    .second_wrapper {
      flex-direction: column;
      padding: 2rem 0.5rem;
      .second_left {
        width: 100%;
        margin-bottom: 2rem;
        img {
          height: 300px;
        }
      }
      .second_right {
        width: 100%;
        padding: unset;
        .box_wrapper {
          .box {
            padding: 2rem 1rem;
          }
        }
      }
    }
    .third_wrapper {
      padding: 3rem 0.5rem;
      .centered {
        .newsletter_text {
          font-size: 20px;
        }
        .newsletter_form {
          margin-top: 1rem;
          .page2 {
            width: 90vw;
            font-size: 12px;
          }
        }
      }
    }
    .fourth_wrapper {
      padding: 1rem;
      .footer_wrapper {
        .img_block {
          height: 80px;
          width: 80px;
          img {
            height: 80px;
            width: 80px;
          }
        }
        .channel_name {
          font-size: 20px;
        }
        .mail_id {
          font-size: 16px;
        }
      }
    }
    // padding: 0.5rem;
  }
}

//! HEADER CSS
/*This code is property of Conor McNamara*/
/*https://codepen.io/conorjmcnamara/*/

.main_container {
  max-width: 740px;
  height: 100%;
  margin: 10px auto 0px auto;
}

.in_container {
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 0 6px #c9d1de;
  -webkit-box-shadow: 0 0 6px #c9d1de;
  -moz-box-shadow: 0 0 6px #c9d1de;
  -o-box-shadow: 0 0 6px #c9d1de;
}

.back_link {
  display: block;
  text-decoration: none;
  margin-top: 80px;
  text-align: center;
  color: #3e3e3e;
  font-size: 16px;
  letter-spacing: 1px;
}

.back_link .back_arrow_icon {
  vertical-align: middle;
  margin-right: 10px;
}

html {
  width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

table {
  font-size: 14px;
  border: 0;
}

img {
  border: none !important;
}

@media only screen and (max-width: 600px) {
  body[yahoo] .full_width_600 {
    width: 90% !important;
  }
}

@media only screen and (max-width: 700px) {
  body[yahoo] .full_width_700 {
    width: 100% !important;
  }
  body[yahoo] .txt_center {
    text-align: center !important;
  }
  body[yahoo] .separator {
    height: 40px !important;
  }
}

.bg-gradient1 span,
.bg-gradient1:before {
  background: #52a0fd;
  background: -moz-linear-gradient(left, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  background: -webkit-linear-gradient(
    left,
    #52a0fd 0%,
    #00e2fa 80%,
    #00e2fa 100%
  );
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
}

.bg-gradient3 span,
.bg-gradient3:before {
  background: #fa6c9f;
  background: -moz-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
  background: -webkit-linear-gradient(
    left,
    #fa6c9f 0%,
    #ffe140 80%,
    #ffe140 100%
  );
  background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
}

.wrapper {
  margin: 0% auto;
  text-align: center;
  transform-style: perserve-3d;
  /* perspecive: 400px; */
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.fancy-button {
  display: inline-block;
  margin: 0px;
  font-size: 5px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  top: 55%;
  margin-top: -6em;
  width: 100%;
  height: 0.199em;
}

.fancy-button:before {
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  z-index: -1;
  border-radius: 30em;
  filter: blur(20px) brightness(0.95);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.fancy-button i {
  font-size: 1em;
  vertical-align: middle;
}

.fancy-button span {
  display: inline-block;
  padding: 13px 60px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.fancy-button:focus,
.fancy-button:active {
  color: #fff;
}

.fancy-button:hover {
  color: #fff;
}

.fancy-button:hover span {
  filter: brightness(1.05) contrast(1.05);
  transform: scale(0.95);
}

.fancy-button:hover:before {
  bottom: 0;
  filter: blur(10px) brightness(0.95);
}

.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  filter: blur(20px);
}

.fancy-button.pop-onhover:hover span {
  transform: scale(1.04);
}

.fancy-button.pop-onhover:hover:active span {
  filter: brightness(1) contrast(1);
  transform: scale(1);
  transition: all 0.15s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  filter: blur(10px) brightness(0.95);
  transition: all 0.2s ease-out;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 1em 0;
}

p {
  margin: 0.9em 0;
  line-height: 1.5;
}

::selection {
  background-color: #624cab;
  color: #fff;
}

.menu-toggle {
  display: none;
}

.mobile-bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 25px;
  /*BAR HOW MUCH IN RIGHT*/
  width: 100%;
  height: 65px;
  background-color: #624cab;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-icon {
  float: right;
  display: block;
  position: relative;
  width: 25px;
  height: 100%;
  cursor: pointer;
  transition: transform 300ms ease-in;
  /*the bar to X*/
}

.menu-icon > span {
  display: block;
  position: absolute;
  top: 55%;
  margin-top: -0.3em;
  width: 100%;
  height: 0.199em;
  border-radius: 1px;
  background-color: #fff;
  transition: transform 300ms ease-in;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background-color: #fff;
  transition: transform 300ms ease;
}

.menu-icon > span:before {
  transform: translateY(-0.6em);
}

.menu-icon > span:after {
  transform: translateY(0.6em);
}

/*need this for bringing down the examples*/

.menu-toggle:checked + .mobile-bar .menu-icon {
  transform: rotate(45deg);
}

.menu-toggle:checked + .mobile-bar span:before,
.menu-toggle:checked + .mobile-bar span:after {
  transform: rotate(90deg);
}

/*needed*/

.menu-toggle:checked ~ .header {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.header {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background-color: #624cab;
  padding-right: 5.7px;
  color: #eee;
  transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
}

.header nav,
.header ul {
  height: 100%;
}

.header li {
  border-bottom: 1px solid #eee;
  color: #fff;
  /*text on navbar*/
  font-weight: 430;
  line-height: 2.4;
  /*height of the navbar*/
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.header li:hover {
  color: #ececec;
  transition: color 300ms ease-in;
}

.header a {
  display: block;
  padding: 25px;
  transition: background-color 300ms ease-in;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img,
.navbar-brand > span {
  color: #fff;
  height: 40px;
  width: auto;
  z-index: 10;
  position: fixed;
  top: 13.45px;
  font-size: 25px;
  left: 0;
  padding: 0 25px;
  /*BAR HOW MUCH IN RIGHT*/
}

.test {
  top: 0;
  width: 100%;
  position: fixed;
}

@media (min-width: 1000px) {
  .mobile-bar {
    display: none;
  }
  .header {
    transition: all 0.4s ease-in-out;
    z-index: 5;
    position: relative;
    left: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    visibility: visible;
    opacity: 1;
    text-align: right;
  }
  .header li {
    display: inline-block;
    margin-right: -6px;
    /* fix the inline-block gap */
    border: none;
    text-align: left;
  }
  .header a {
    padding: 15px 35px;
    /*header height and text spacing*/
  }
}
